# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env
.env.*

# SQLite databases
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# keys
*.pem
*.crt
*.key
